@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: .8em 1.2em;
}

.hide-mobile {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
}
.newsEintrag {
    margin-top: 0;
}

.blue-container {
    width: 100%;
    background: #00C2FF;
    color: rgb(238, 238, 238);
    margin: 5% 0 0;
    padding: 6em 0 5em;
    border-top-left-radius: 20px;
    transform: skewY(-1deg);
}

 
.blue-container ul :first-child p{
    margin-bottom: 50px;
}

.blue-container .gen_list{
    transform: skewY(1deg);
}

.blue-container:before{
    content: "";
    width: 30px;
    height: 30px;
    background-color: #00C2FF;
    position: absolute;
    top: -29px;
    right: 0px;
    z-index: -2;
}

.blue-container:after{
    content: "";
    width: 60px;
    height: 60px;
    background-color: white;
    top: -60px;
    position: absolute;
    right: 0;
    border-radius: 50%;
    z-index: -1;
}

.Images img{
    width: 80%;
    display:block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 40px;
    border: 1px solid #ccc;
}

.title-image{
    width: 80%;
    display: block;
    margin: auto;
    margin-top: -11px;
}


.Images figcaption{
    text-align: center;
    font-size: 13px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: -30px;

    
}
.blue-container ul li p{
    padding: 0 .8em;
}
@media only screen and (min-width: 750px)  {
     .blue-container{
         margin: 0;
         margin-top: 3em;
     }

     .blue-container .gen_list {
         display: flex;
     }

     .blue-container  .gen_list li{
         margin: 0em 2em;
         margin-bottom: -3em;
         align-items: center
     }

     .blue-container ul li p{
        padding: 0 .8em;
    }

    .Images ul{
        margin-top: 20px;
        display:flex
    }

    .title-image{
        margin: auto auto;
    }

    .Images img{
        width: 100%;
    }


}

.bild_offener_treff {
    width:90%;
}

@media only screen and (min-width: 1000px)  {
    .blue-container{
        padding-top: 2em;
    }
    .logo {
        width: 100px
    }
    .container{
        width: 85%;
        margin: 0 auto;

    }

    .show-desktop {
        display: block;
        margin: 0 auto 13% auto;
    }

    .hide-desktop{
        display: none;
    }
}
@media only screen and (min-width: 1200px)  {

    .blue-container  .gen_list li{
        margin: 0em 3em;
        margin-bottom: -3em;
    }
    .Images img{
        width: 80%;
    }

    p{
        font-size: 1.05em;
    }
    h3{
        font-size: 1.4em;
    }
}

@media only screen and (max-width: 1350px){

    .blue-container .offener_treff_list {
        display:inherit;
    }
    .bild_offener_treff {
        width:50%;
        padding-top:5em;
    }
}