.blue-container {
    width: 100%;
    background: #00C2FF;
    color: rgb(238, 238, 238);
    margin: 5% 0 0;
    padding: 6em 0 2em;
    border-top-left-radius: 20px;
    transform: skewY(-2deg);
}

 
.blue-container ul :first-child p{
    margin-bottom: 50px;
}

.blue-container ul{
    transform: skewY(2deg);
}
.blue-container:before{
    content: "";
    width: 30px;
    height: 30px;
    background-color: #00C2FF;
    position: absolute;
    top: -29px;
    right: 0px;
    z-index: -2;
}

.blue-container:after{
    content: "";
    width: 60px;
    height: 60px;
    background-color: white;
    top: -60px;
    position: absolute;
    right: 0;
    border-radius: 50%;
    z-index: -1;
}


textarea {
    resize: none;
    width: 750px;
    height: 300px;

}

.druckauftrag {
    border-radius: 10px;
    box-shadow: blue;
    border-color: grey;
    width: 80%;
    margin-top: 1em;
    margin-bottom: 2em;
}

.druckauftrag :hover{
    border-color: black;
    border: 1px;
    border-radius: 10px;
}

#absbut {
    background-color: white; /* #00C2FF */
    color: black;
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 10px;
    border-color:grey;
    border-style: solid
}

@media only screen and (min-width: 750px)  {
    .blue-container{
        margin: 0;
        margin-top: 3em;
    }



    .blue-container ul li{
        margin: 0em 2em;
        margin-bottom: 3em;
        align-items: center
    }

    .blue-container ul li p{
       padding: 0 .8em;
   }

   .Images ul{
       margin-top: 20px;
       display:flex
   }

   .title-image{
       margin: auto auto;
   }

   .Images img{
       width: 100%;
   }


}
